h1 {
    font-size: x-large;
    align-self: center;
}
p {
    color: black;
}

.top-section  {
    display: flex;
    background-color: #bec7eb;
    gap: 1em;
}

.home {
    /* background-color: #5d6b9b; */
    color: white;
    display: flex;
    gap: 1em;

}

img {
    height: auto;
    width: 50%;
    background-color: rgb(183, 192, 201);
    border-radius: 10%;
    margin: 1em;
    object-fit: contain;
}

.examples {
    display: flex;
    flex-direction: column;

}

.into-section {
    display: flex;
    background-color: #bec7eb;
    gap: 1.5em;
}

.chatting {
    height: auto;
    width: 45%;
}

.columns {
    width: 99%;
    display: flex;
    justify-content: space-evenly;
    background-color: #bec7eb;
    color: black;


}


.personal-info {
    display: flex;
    gap: 5%;
}

.example-img {
    height: auto;
    width: 45%;
}

.examples-section {
    display: flex;
    background-color: #bec7eb;
    gap: 1.5em;
    justify-content: space-around;
}

footer {
    padding-block: 3%;
    padding-inline: 1%;
    background-color: #bec7eb;
    p {
        margin: 0;
    }
}
.logo {
    height:20%;
    width:10%;
}
.heading {
    display: flex;
    justify-content: space-between;
    background-color: #bec7eb;
}
.menu {
    display: flex;
    justify-content: center;
    background-color: #bec7eb;
}
.comments {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.comments {
    width: 25%;
}

.comments-heading {
    text-align: center;
}

button a {
    text-decoration: none;
}
